.amazon-navbar {
  display: flex;
  align-items: center;
  background-color: #131921;
  color: white;
  padding: 8px 14px;
  gap: 16px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  font-weight: bold;
}

.logo {
  color: #fff;
}

.logo-dot {
  color: #f3a847;
  font-size: 14px;
  margin-left: 2px;
}

/* LOCATION */
.nav-location {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.small {
  font-size: 11px;
  color: #ccc;
}

.bold {
  font-size: 13px;
  font-weight: bold;
}

/* SEARCH */
.nav-search {
  display: flex;
  flex: 1;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}

.nav-search select {
  border: none;
  padding: 0 10px;
  background: #f3f3f3;
}

.nav-search input {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 15px;
}

.nav-search button {
  background: #febd69;
  border: none;
  width: 45px;
  cursor: pointer;
  font-size: 18px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  left: 12px;
  background: #f08804;
  color: black;
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 50%;
  font-weight: bold;
}
/* Menu Button Styles */
.nav-left-button {
  background: none;
  background-color:rgb(24, 22, 22);
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  width: 90px;
}

.nav-left-button:hover {
  border: 1px solid white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-left button {
    padding: 5px 5px;
    font-size: 12px;
  }
}

.nav-right-button {
  background: none;
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 2px;
}

.nav-right-button:hover {
  border: 1px solid white;
}


.cart-icon {
  /* position: fixed; */
  font-size: 28px;
  cursor: pointer;
  color: white;
  right: 1px;
}

.cart-badge {
  position: absolute;
  top: 6px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.orders{
  cursor: pointer;
    
}

