.amazon-navbar {
  display: flex;
  align-items: center;
  background-color: #131921;
  color: white;
  padding: 8px 14px;
  gap: 16px;
  font-family: Arial, sans-serif;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  font-weight: bold;
}

.logo {
  color: #fff;
}

.logo-dot {
  color: #f3a847;
  font-size: 14px;
  margin-left: 2px;
}

/* LOCATION */
.nav-location {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.small {
  font-size: 11px;
  color: #ccc;
}

.bold {
  font-size: 13px;
  font-weight: bold;
}

/* SEARCH */
.nav-search {
  display: flex;
  flex: 1;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}

.nav-search select {
  border: none;
  padding: 0 10px;
  background: #f3f3f3;
}

.nav-search input {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 15px;
}

.nav-search button {
  background: #febd69;
  border: none;
  width: 45px;
  cursor: pointer;
  font-size: 18px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  left: 12px;
  background: #f08804;
  color: black;
  font-size: 12px;
  padding: 1px 6px;
  border-radius: 50%;
  font-weight: bold;
}
