.navbar {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 10px 18px;
    background-color: #131921;
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-bottom: 100px;
  }
  
  /* LOGO */
  .nav-left {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
  }
  
  .logo-domain {
    color: #f3a847;
  }
  
  /* LOCATION */
  .nav-location {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
  .small-text {
    color: #cfcfcf;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  /* NAV LINKS */
  .nav-links {
    display: flex;
    gap: 18px;
    margin-left: auto;
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .nav-links span {
    cursor: pointer;
    padding: 6px 8px;
  }
  
  .nav-links span:hover {
    border-bottom: 2px solid #f3a847;
  }
  
  /* USER */
  .nav-user {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  