.orders-page {
  padding: 40px 80px;
  background: #f6f9ff;
  min-height: 100vh;
}

.orders-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 100px;
  position: relative;
  color: #000000;
}

.orders-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #6c4cff;
  display: block;
  margin: 10px auto 0;
  border-radius: 10px;
}

/* CARD */
.order-card {
  background: #fff;
  border-radius: 14px;
  padding: 25px 30px;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1.3fr 2fr 1.2fr;
  align-items: center;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
}

/* LEFT */
.order-left {
  display: flex;
  gap: 18px;
  align-items: center;
}

.order-box {
  width: 60px;
  height: 60px;
  background: #ffe9e2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.items {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}

/* MIDDLE */
.order-middle {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.store {
  font-weight: 600;
  margin-bottom: 6px;
}

/* RIGHT */
.order-right {
  text-align: right;
}

.price {
  color: #6c4cff;
  font-size: 20px;
  margin-bottom: 12px;
}

.info-row {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background: #dcfce7;
  color: #16a34a;
}

.blue {
  background: #e0e7ff;
  color: #4338ca;
}

.orange {
  background: #ffedd5;
  color: #ea580c;
}
