body {
  background-color: #121212;
  color: white;
}

.products-container {
  padding: 20px;
}

.page-title {
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.product-card {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.product-card h4 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  font-weight: bold;
}

.add-btn {
  background-color: #ff9f00;
  color: #000;
}

.buy-btn {
  background-color: #ffa41c;
  color: #000;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.filter-container select {
  width: 200px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #1e1e1e;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}